/* MoviesShow */
@media screen and (max-width : 1250px){
    #MoviesShow{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width : 850px){
    #MoviesShow{
        grid-template-columns: auto;
    }
   
}
@media screen and (max-width : 400px){
    .movies{
        width: 300px;
        font-size: 14px;
    }
    .titles{
        width: 300px;
    }
    .title{
        width: 285px;
    }
}


/* MOVIE */

@media screen and (max-width : 1000px){
    .information .names span {
        font-size: 20px;
      }
      .information p {
        font-size: 13px;
        
      }
      .information p span {
        font-size: 20px;
      }
      .link{
        font-size: 13px;
        padding: 4px;
    }
}
@media screen and (max-width : 800px){
    .item img{
        width: 300px;
        height: 350px;
    }
    .item{
        grid-template-columns: auto;
        justify-items: center;
        height: 650px;
    }
    .information{
        height: 250px;
    }

}

@media screen and (max-width : 600px){
    .item img{
        width: 250px;
        height: 300px;
    }
    .information .names span {
        font-size: 15px;
      }
      .information p {
        font-size: 10px;
        
      }
      .information p span {
        font-size: 15px;
      }
      .link{
        font-size: 13px;
        padding: 4px;
    }
}

@media screen and (max-width : 800px){
    .vpn .text{
        font-size: 20px;
    }
    .notMovie .text{
font-size: 20px;
    }
}

@media screen and (max-width : 450px){
    .vpn .text{
        font-size: 15px;
    }
    .notMovie .text{
font-size: 15px;
    }
}