* {
  background-color: var(--background-black);
}
:root {
  --background--: rgb(58, 45, 37);
  --background-black: rgb(43, 40, 38);
  --background-Header: rgb(114, 103, 103);
  --color-span-yellow: rgb(240, 181, 6);
  --color-span-text: rgb(223, 212, 212);
}

a {
  text-decoration: none;
}

#root {
  margin: -8px;
}
/* Header */
.header {
  width: 100%;
  height: 50px;
  background-color: var(--background-Header);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 100;
}
/* search-box */
.search-box {
  display: contents;
}
#search {
  margin: 10px;
  width: 200px;
  height: 25px;
  border: 0;
  border-radius: 50px;
  padding: 5px;
  font-size: 15px;
  color: var(--color-span-text);
}
#search :focus {
  background-color: var(--background-black);
  color: var(--color-span-text);
}
/* search Icon */
.searchIcon {
  display: contents;
}
.btnSearchLink {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.btnSearch {
  color: var(--color-span-text);
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSearch i {
  color: var(--color-span-yellow);
}

/* btn home */

.homeIcon {
  display: grid;
  border-radius: 50%;
  margin: 5px;
}

.homeIcon .btnHome {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--background-black);
  border: 0;
}

.btnHome i {
  background-color: var(--background-black);
  color: var(--color-span-yellow);
  font-size: 15px;
}

/* Movies Show */

#MoviesShow {
  width: 100%;
  justify-items: center;
  align-items: center;
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.movies {
  border: 5px solid var(--color-span-yellow);
  background-color: var(--background--);
  border-radius: 50px;
  width: 350px;
  height: 480px;
  text-align: center;
  margin: 25px;
  /* padding: 10px; */
}
.movies h1 {
  font-size: 18px;
  color: var(--color-span-yellow);
  background-color: inherit;
  display: block;
  margin: 20px;
}
.movies img {
  border-radius: 10px;
  width: 150px;
  height: 200px;
  object-fit: cover;
}
.titles {
  background-color: var(--background--);
  width: 350px;
  height: 145px;
  display: grid;
}
.title {
  width: 340px;
  height: 10px;
  display: flex;
  margin: 10px;
  align-items: flex-start;
  background-color: inherit;
}
.title .titleName {
  width: 75px;
  color: var(--color-span-yellow);
  background-color: inherit;
  display: flex;
}
.title .text {
  width: 240px;
  display: flex;
  background-color: inherit;
  color: var(--color-span-text);
}

.seeMovie {
  background-color: inherit;
  border-radius: 50%;
  position: relative;
}
.seeMovie button {
  border: 0;
  cursor: pointer;
  font-size: 20px;
  background-color: inherit;
  border: 5px solid var(--color-span-yellow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -30px;
  top: 40px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.seeMovie button i {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: var(--color-span-yellow);
  border-radius: 50%;
}

/* Movie show */

#MovieShow {
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  padding-top: 60px;
  display: grid;
  grid-template-columns: auto;
  background-color: var(--background-black);
}

.item {
  display: flex;
  width: 100%;
  height: 500px;
  border-radius: 50px;
  width: 80%;
}

.item img {
  width: 450px;
  height: 500px;
  border-radius: 10%;
  object-fit: cover;
  margin: 20px;
}

.information {
  display: grid;
  grid-template-columns: auto;
  background-color: inherit;
  justify-items: start;
  border-radius: 10%;
  align-items: center;
}
.information #names {
  width: 98%;
}
.information .names span {
  display: flex;
  justify-content: center;
  background-color: inherit;
  color: var(--color-span-yellow);
  font-size: 25px;
}
.information p {
  background-color: inherit;
  font-size: 20px;
  margin: 2px;
  color: var(--color-span-text);
  height: 5px;
  cursor: context-menu;
}
.information p span {
  background-color: inherit;
  font-size: 25px;
  color: var(--color-span-yellow);
}
.information .links {
  display: flex;
  justify-content: space-evenly;
  width: 98%;
  background-color: inherit;
  padding-top: 40px;
}
.link {
  border: 3px solid var(--color-span-yellow);
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
  text-decoration: none;
  color: var(--color-span-yellow);
  background-color: var(--background--);
}

/* vpn */

.vpn {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}
.vpn .text {
  border: 5px solid var(--color-span-yellow);
  padding: 20px;
  border-radius: 40px;
  color: var(--color-span-text);
}
.vpn .text span {
  color: var(--color-span-yellow);
}
